body {
    margin-top: 120px;
    background-color: black;
    color: grey;
    font-family: "Courier New", Monospace;
}

#clockbox {
   position: absolute;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -0%)
}

.below {
  position: absolute;
  left: 50%;
  top: 230px;
  transform: translate(-50%, -50%);
}

#time {
    font-size: 32px;
}

#text {
    margin-top: 180px;
    font-size: 40px;
    margin: 0px, auto;
}

#end {
    font-size: 80px;
}
